# ************************************************************
# Global ignore files
# ************************************************************
*~
*.bak
*.backup
*.layout
*.moc
*.ncb
*.o
*.obj
*.orig
*.pdb
*.pro.user*
*.save
*.so
*.stackdump
*.suo
*.swp
*.tmp
*.user


# ************************************************************
# Allows files
# ************************************************************
!*vcxproj.user


# ************************************************************
# Specific ignore
# ************************************************************
# Temporary ignore sub-repo
.vscode
tmp
